:root {
  --bg: hsl(243, 96%, 9%);
  --darkbg: hsl(243, 27%, 20%);
  --c700: hsl(243, 23%, 24%);
  --c600: hsl(243, 23%, 30%);
  --c300: hsl(240, 6%, 70%);
  --c200: hsl(250, 6%, 84%);
  --n0: hsl(0, 0%, 100%);

  --orange: hsl(28, 100%, 52%);

  --blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--bg);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: white;
}

main {
  padding: 1.5rem 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 3rem;

  img.icon {
    width: 75%;
  }

  button {
    padding: 0.6rem 0.75rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--darkbg);
    border: none;
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: 1rem;
  }
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--n0);
  margin-block-end: 2rem;
  font-family: "Bricolage Grotesque", sans-serif;

  #hero-heading {
    font-size: 3.5rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.75rem;

    label.input-group {
      display: flex;
      background-color: var(--darkbg);
      padding: 1rem 1.5rem;
      border-radius: 0.75rem;
      column-gap: 0.75rem;
      overflow: hidden;

      input#location-search {
        background-color: var(--darkbg);
        border: 0;
        font-size: 1.25rem;
        color: var(--c300);

        &:focus {
          outline: 2px solid var(--blue-500);
        }

        &::placeholder {
          color: var(--c300);
        }
      }
    }

    button {
      padding: 1rem;
      font-size: 1.25rem;
      background-color: var(--blue-500);
      color: var(--n0);
      border: none;
      border-radius: 0.75rem;
    }
  }
}

section.weather-summary .current-weather {
  background: url("./assets/images/bg-today-small.svg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  text-align: center;
  border-radius: 1.5rem;
  margin-block-end: 1.25rem;

  .current-weather-details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h2 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.13rem;
      color: var(--c300);
    }
  }

  .temp {
    display: flex;
    align-items: center;

    img {
      width: 45%;
    }

    span {
      font-size: 7rem;
    }
  }
}

.weather-metrics {
  font-family: "DM Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  margin-block-end: 2rem;

  .metric {
    background-color: var(--darkbg);
    color: var(--c300);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--c600);

    dd {
      font-size: 2rem;
      color: white;
    }
  }
}
.daily-forecast h2 {
  font-size: 1.25rem;
}

.daily-forecast ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 2rem;

  li {
    background-color: var(--darkbg);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid var(--c600);
    gap: 0.5rem;

    span {
      display: block;
    }

    img {
      width: 85%;
    }

    .day-details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
    }
  }
}

.hourly-forecast {
  background-color: var(--darkbg);
  padding: 1rem;
  border-radius: 1rem;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1rem;

    h2 {
      font-size: 1.25rem;
    }

    button {
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      color: white;
      background-color: var(--c600);
      border: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  ul.hourly-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    li {
      display: flex;
      align-items: center;
      background-color: var(--c700);
      padding: 0.5rem 0.75rem;
      border-radius: 0.75rem;
      border: 1px solid var(--c600);
      font-size: 1rem;

      div {
        display: flex;
        align-items: center;

        img {
          width: 15%;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
